.borderForm {
   border: 2px solid var(--fb1);
   border-radius: 8px;
}

.invoicingOfTheDayForm > div.inputForm {
   height: 48px; 
}

.valueOfTheDay {
   padding: 4px 12px;
}

.calcCardText {
   font-size: 12px;
}

.text-blue-mp {
   color: var(--blue-mp);
   font-weight: bold;
}

.text-yellow-ml {
   color: var(--yellow-ml);
   font-weight: bold;
}