// Esconder o scroll dos inputs number 
/* Chrome e outros */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

select {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   // text-align: center;

   font-weight: bold;
   font-size: 16px;
   color: #75726F;
   padding: 0 10px;

   background-color: transparent;
   outline: none;
   border: none;
   border-bottom: 2px solid var(--bs-info);
   appearance: none;

   select option {
      font-weight: bold;
   }

   &:hover {
      appearance: none;
   }

}
.withoutBg {
   // background-color: var(--bs-dark);
   background-color: var(--bs-dark);
   opacity: 0.5;
}
