:root {
   /* Bootstrap Colors */
   --bs-primary:#0D6EFD;
   --bs-secondary:#6C757D;
   --bs-success:#198754;
   --bs-info:#0DCAF0;
   --bs-warning:#FFC107;
   --bs-danger:#DC3545;
   --bs-light:#F8F9FA;
   --bs-dark:#1C1F23;

   /* Background Colors */
   --bg-dark: #202225;
   --bg-normal: #5C5E5F;
   --bg-light: #979999;

   /* Text Colors */
   --text: #C1C7E0;
   --text2: #9A9FB3;
   --text3: #7D8192;

   /* Text Form Colors */
   --from-color: #45F3FF;
   --cyan-light: #42E7F2;
   --cyan-normal: #3EDBE6;
   --cyan-dark: #3BCFD9;

   --info-light:#0CB6D8;
   --info-dark: #0BACCC;

   /* Facebook Dark Theme Colors */
   --fb1: #18191A;
   --fb2: #242526;
   --fb3: #3A3A3C;
   --fb4: #4E4F50;
   --fb5: #E6DCD6;
   --fb6: #B8BBBF;
   --fb7: #E7E9EC;

   /* Random Colors */
   --blue: #0095F6;
   --black: #262626;
   --border-color: #DBDBDB;
   --white: #FFF;
   --white-dark: #FAFAFA;
   --btn: #0195F7;
   --btnDisable: #B2DFFC;
   --fb: #3A4E83; 
   --gray: #8E8E8E;
   --pix: #2EBDAF;
   --blue-mp: #13ADDF;
   --yellow-ml: #F9D001;
   --violet-nk: #331659;
   --orange-in: #FF7A01;
   --dark-blue: #081C65;
   --dark-green: #0E5E6F;
}

.text-primary {
   color: var(--bs-primary);
}

.text-secondary {
   color: var(--bs-secondary);
}

.text-success {
   color: var(--bs-success);
}

.text-info {
   color: var(--bs-info);
}

.text-warning {
   color: var(--bs-warning);
}

.text-danger {
   color: var(--bs-danger);
}

.text-light {
   color: var(--bs-light);
}

.text-dark {
   color: var(--bs-dark);
}

.primary-hover {
   &:hover {
      color: #0B5ED7;
   }
}

.secondary-hover {
   &:hover {
      color: #5C636A;
   }
}

.success-hover {
   &:hover {
      color: #157347;
   }
}

.info-hover {
   &:hover {
      color: #31D2F2;
   }
}

.warning-hover {
   &:hover {
      color: #FFCA2C;
   }
}

.danger-hover {
   &:hover {
      color: #BB2D3B;
   }
}

.light-hover {
   &:hover {
      color: #F9FAFB;
   }
}

.dark-hover {
   &:hover {
      color: #212529;
   }
}

.text-color { color: var(--text-color); }
.text-pix { color: var(--pix); }
.text-blue-mp { color: var(--blue-mp); }
.text-yellow-ml { color: var(--yellow-ml); }
.text-violet-nk { color: var(--violet-nk); }
.text-orange-in { color: var(--orange-in); }
.text-dark-blue { color: var(--dark-blue); }
.text-dark-green { color: var(--dark-green); }