@font-face {
   font-family: 'JetBrains Mono';
   src: url(../src/assets/Fonts/JetBrainsMono-MediumItalic.ttf);
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: 'JetBrains Mono';
}

@import '../src/scss/global';
@import '../src/scss/tipography';
@import '../src/scss/align';
@import '../src/scss/button';
@import '../src/scss/colors';
@import '../src/scss/spacing';

@import '../src/Components/Invoicing/Invoice';
@import '../src/Components/Closing/Closing';

@import '../src/pages/RegisterUser/RegisterUser';
@import '../src/pages/Login/Login';
@import '../src/pages/RegisterProduct/RegisterProduct';